@import url('../../../general-styles//colors.css');

.section-hero{
    width: 100%;
    background: var(--button-color);
    color:var(--color-light);   
}
.hero-container{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 2rem 0;
}

.hero-container > span{
    font-size:2rem;
}


.hero-container>img{
    width: 25%;
    border-radius: 50%;
    padding-bottom: 1rem;
}

@media (min-width:240px) and (max-width:880px){
    .hero-container > span{
        font-size:1.3rem;
    }
    .hero-container > p{
        font-size: 1.2rem;
    }
    .hero-container>img{
        width: 50%;
    }
    

}